<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title th:text="#{home.title}">Orchestrator</title>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css}" rel="stylesheet"/>

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"
          th:href="@{/webjars/font-awesome/4.5.0/css/font-awesome.min.css}" rel="stylesheet"/>

    <link href="../static/css/console.css" th:href="@{/static/css/console.css}" rel="stylesheet"/>
</head>
<body>
<div id="wrapper">
    <!-- Navigation -->
    <nav th:fragment="navigation" class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/" th:text="#{nav.brand}">Orchestrator Administration Console</a>
        </div>

        <ul class="nav navbar-top-links navbar-right">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li><a th:href="@{/user_profile}" href="/user_profile"><i class="fa fa-gear fa-fw"></i><span th:text="#{nav.user.profile}">User Profile</span></a>
                    </li>
                    <li class="divider"></li>
                    <li><a th:href="@{/logout}" href="/logout"><i class="fa fa-sign-out fa-fw"></i> <span th:text="#{nav.logout}">Logout</span></a>
                    </li>
                </ul>
            </li>
        </ul>

        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse">
                <ul class="nav" id="side-menu">
                    <li>
                        <a th:href="@{/}" href="/"><i class="fa fa-pencil-square-o fa-fw"></i> <span th:text="#{nav.create.task}">Create task</span></a>
                    </li>
                    <li>
                        <a th:href="@{/tasks}" href="/tasks"><i class="fa fa-table fa-fw"></i> <span th:text="#{nav.task.list}">Task list</span></a>
                    </li>
                    <li>
                        <a th:href="@{/logs}" href="/logs"><i class="fa fa-list fa-fw"></i> <span th:text="#{nav.logs}">Logs</span></a>
                    </li>
                    <li>
                        <a th:href="@{/settings}" href="/settings"><i class="fa fa-cog fa-fw"></i> <span th:text="#{nav.settings}">Settings</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Page Content -->
    <div id="page-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    blank
                </div>
            </div>
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-2.2.1.min.js" th:src="@{/webjars/jquery/2.2.1/jquery.min.js}"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" th:src="@{/webjars/bootstrap/3.3.6/js/bootstrap.min.js}"></script>
<script src="../static/js/console.js" th:src="@{/static/js/console.js}"></script>
</body>
</html>
