<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <meta name="viewport" content="initial-scale=1.0, user-scalable=no"/>

    <title th:text="#{create.task.title}">Create task - Orchestrator</title>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css}" rel="stylesheet"/>

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"
          th:href="@{/webjars/font-awesome/4.5.0/css/font-awesome.min.css}" rel="stylesheet"/>

    <link href="../static/css/datatables.min.css" th:href="@{/static/css/datatables.min.css}" rel="stylesheet"/>

    <link href="../static/css/console.css" th:href="@{/static/css/console.css}" rel="stylesheet"/>

    <meta name="_csrf" th:content="${_csrf.token}" />
    <meta name="_csrf_header" th:content="${_csrf.headerName}" />
</head>
<body>
<div id="wrapper">
    <!-- Navigation -->
    <nav th:replace="fragments/navigation::navigation"></nav>

    <!-- Page Content -->
    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header" th:text="#{nav.create.task}">Create task</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <form class="form-horizontal" action="#" th:action="@{/}" th:object="${taskForm}" method="post" accept-charset="UTF-8">
                        <fieldset>
                            <!-- Name -->
                            <div class="form-group required" th:classappend="${#fields.hasErrors('name')}? 'has-error'">
                                <label class="col-md-4 control-label" for="name" th:text="#{create.task.name}">Name</label>
                                <div class="col-md-4">
                                    <input id="name" name="name" th:field="*{name}" th:placeholder="#{create.task.name.placeholder}" placeholder="name of the task" class="form-control input-md" type="text"/>
                                    <span class="help-block" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name error</span>
                                </div>
                            </div>

                            <!-- Harvesting -->
                            <div class="form-group" th:classappend="${#fields.hasErrors('harvesting')}? 'has-error'">
                                <label class="col-md-4 control-label" for="harvesting" th:text="#{create.task.harvesting}">Harvesting</label>
                                <div class="col-md-4">
                                    <select id="harvesting" name="harvesting" class="form-control" th:field="*{harvesting}">
                                        <option value="EU" th:text="#{create.task.harvesting.eu}">Europeana</option>
                                        <option value="HP" th:text="#{create.task.harvesting.hp}">Historypin</option>
                                        <option value="OT" th:text="#{create.task.harvesting.ot}">Ontotext</option>
                                        <option value="HP_ANNOTATION" th:text="#{create.task.harvesting.hp_annotation}">Historypin</option>
                                    </select>
                                    <span class="help-block" th:if="${#fields.hasErrors('harvesting')}" th:errors="*{harvesting}">Harvesting error</span>
                                </div>
                            </div>

                            <!-- Type -->
                            <div class="form-group" th:classappend="${#fields.hasErrors('type')}? 'has-error'">
                                <label class="col-md-4 control-label" for="type" th:text="#{create.task.type}">Type</label>
                                <div class="col-md-4">
                                    <select id="type" name="type" class="form-control" th:field="*{type}">
                                        <option value="OAIPMH" th:text="#{create.task.type.oai}">OAI-PMH</option>
                                        <option value="REST" th:text="#{create.task.type.rest}">REST</option>
                                    </select>
                                    <span class="help-block" th:if="${#fields.hasErrors('type')}" th:errors="*{type}">Type error</span>
                                </div>
                            </div>

                            <!-- Destination -->
                            <div class="form-group required" th:classappend="${#fields.hasErrors('destinations')}? 'has-error'">
                                <label class="col-md-4 control-label" for="destination" th:text="#{create.task.dest}">Destination</label>
                                <div class="col-md-4">
                                    <select id="destination" required="required" name="destination" class="form-control" multiple="multiple" th:field="*{destinations}">
                                        <option value="HP" th:text="#{create.task.dest.hp}">Historypin</option>
                                        <option value="TAGAPP" th:text="#{create.task.dest.tagapp}">Tagapp</option>
                                        <option value="MINT" th:text="#{create.task.dest.mint}">Mint</option>
                                        <option value="EUROPEANA" th:text="#{create.task.dest.eu}">Europeana</option>
                                        <option value="EUROPEANA_ANNOTATION" th:text="#{create.task.dest.eu_annotation}">Europeana Annotation API</option>
                                        <option value="SD" th:text="#{create.task.dest.sd}">Semantic demonstrator</option>
                                    </select>
                                    <span class="help-block" th:if="${#fields.hasErrors('destinations')}" th:errors="*{destinations}">Destinations error</span>
                                </div>
                            </div>

                            <!-- Configuration -->

                            <!-- HP target configuration -->
                            <div id="historypin-target-conf-group">
                                <div class="form-group required" th:classappend="${#fields.hasErrors('historypinUserId')}? 'has-error'">
                                    <label class="col-md-4 control-label" for="historypinUserId" th:text="#{create.task.historypinUserId}">Historypin User ID</label>
                                    <div class="col-md-4">
                                        <input id="historypinUserId" name="historypinUserId" th:field="*{historypinUserId}" th:placeholder="#{create.task.historypinUserId.placeholder}" placeholder="ID of user, on which behalf the collection is managed" class="form-control input-md" type="text"/>
                                        <span class="help-block" th:if="${#fields.hasErrors('historypinUserId')}" th:errors="*{historypinUserId}">historypinUserId error</span>
                                    </div>
                                </div>
                                <div class="form-group required" th:classappend="${#fields.hasErrors('historypinApiKey')}? 'has-error'">
                                    <label class="col-md-4 control-label" for="name" th:text="#{create.task.historypinApiKey}">Historypin API key</label>
                                    <div class="col-md-4">
                                        <input id="historypinApiKey" name="historypinApiKey" th:field="*{historypinApiKey}" th:placeholder="#{create.task.historypinApiKey.placeholder}" placeholder="API key of user, on which behalf the collection is managed" class="form-control input-md"
                                               type="text"/>
                                        <span class="help-block" th:if="${#fields.hasErrors('historypinApiKey')}" th:errors="*{historypinApiKey}">historypinApiKey error</span>
                                    </div>
                                </div>
                                <div class="form-group required" th:classappend="${#fields.hasErrors('historypinApiSecret')}? 'has-error'">
                                    <label class="col-md-4 control-label" for="name" th:text="#{create.task.historypinApiSecret}">Historypin API secret</label>
                                    <div class="col-md-4">
                                        <input id="historypinApiSecret" name="historypinApiSecret" th:field="*{historypinApiSecret}" th:placeholder="#{create.task.historypinApiSecret.placeholder}" placeholder="API secret of user, on which behalf the collection is managed"
                                               class="form-control input-md" type="text"/>
                                        <span class="help-block" th:if="${#fields.hasErrors('historypinApiSecret')}" th:errors="*{historypinApiSecret}">historypinApiSecret error</span>
                                    </div>
                                </div>
                                <div class="form-group required" th:classappend="${#fields.hasErrors('collectionName')}? 'has-error'">
                                    <label class="col-md-4 control-label" for="name" th:text="#{create.task.collectionName}">Collection name</label>
                                    <div class="col-md-4">
                                        <input id="collectionName" name="collectionName" th:field="*{collectionName}" th:placeholder="#{create.task.collectionName.placeholder}" placeholder="name of the target collection in Historypin" class="form-control input-md" type="text"/>
                                        <span class="help-block" th:if="${#fields.hasErrors('collectionName')}" th:errors="*{collectionName}">Collection name error</span>
                                    </div>
                                </div>
                                <div class="form-group" th:classappend="${#fields.hasErrors('collectionLat')}? 'has-error'">
                                    <label class="col-md-4 control-label" for="map" th:text="#{create.task.collectionLocation}">Collection location</label>
                                    <div id="map" class="col-md-4"></div>
                                    <input type="hidden" th:field="*{collectionLat}" name="circleLat" id="circleLat"/>
                                    <input type="hidden" th:field="*{collectionLng}" name="circleLng" id="circleLng"/>
                                    <input type="hidden" th:field="*{collectionRadius}" name="circleRadius" id="circleRadius"/>
                                </div>
                                <div class="form-group required" th:classappend="${#fields.hasErrors('collectionDate')}? 'has-error'">
                                    <label class="col-md-4 control-label" for="name" th:text="#{create.task.collectionDate}">Collection date</label>
                                    <div class="col-md-4">
                                        <input id="collectionDate" name="collectionDate" th:field="*{collectionDate}" th:placeholder="#{create.task.collectionDate.placeholder}" placeholder="default date for pins" data-toggle="tooltip" th:title="#{create.task.collectionDate.tooltip}"
                                               class="form-control input-md" type="text"/>
                                        <span class="help-block" th:if="${#fields.hasErrors('collectionDate')}" th:errors="*{collectionDate}">Collection date error</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="collectionTags" th:text="#{create.task.collectionTags}">Collection tags</label>
                                    <div class="col-md-4">
                                        <input id="collectionTags" name="collectionTags" th:field="*{collectionTags}" th:placeholder="#{create.task.collectionTags.placeholder}" placeholder="default tags, added to all pins" data-toggle="tooltip" th:title="#{create.task.collectionTags.tooltip}"
                                               class="form-control input-md" type="text"/>
                                    </div>
                                </div>
                            </div>

                            <!-- OAI-PMH date from -->
                            <div id="oaipmh-conf-group">
                                <div class="form-group required" th:classappend="${#fields.hasErrors('oaiFrom')}? 'has-error'">
                                    <label class="col-md-4 control-label" for="dateFrom" th:text="#{create.task.oai.from}">Date from</label>
                                    <div class="col-md-4">
                                        <input id="dateFrom" name="dateFrom" th:field="*{oaiFrom}" placeholder="YYYY-MM-DDThh:mm:ssZ" class="form-control input-md" type="text"/>
                                        <span class="help-block" th:if="${#fields.hasErrors('oaiFrom')}" th:errors="*{oaiFrom}">Date from error</span>
                                    </div>
                                </div>

                                <!-- OAI-PMH date until -->
                                <div class="form-group required" th:classappend="${#fields.hasErrors('oaiUntil')}? 'has-error'">
                                    <label class="col-md-4 control-label" for="dateUntil" th:text="#{create.task.oai.until}">Date until</label>
                                    <div class="col-md-4">
                                        <input id="dateUntil" name="dateUntil" th:field="*{oaiUntil}" placeholder="YYYY-MM-DDThh:mm:ssZ" class="form-control input-md" type="text"/>
                                        <span class="help-block" th:if="${#fields.hasErrors('oaiUntil')}" th:errors="*{oaiUntil}">Date until error</span>
                                    </div>
                                </div>

                                <!-- OAI-PMH set -->
                                <div class="form-group required" th:classappend="${#fields.hasErrors('oaiSet')}? 'has-error'">
                                    <label class="col-md-4 control-label" for="set" th:text="#{create.task.oai.set}">Set</label>
                                    <div class="col-md-4">
                                        <input id="set" name="set" th:field="*{oaiSet}" th:placeholder="#{create.task.oai.set.placeholder}" placeholder="set to harvest from" class="form-control input-md" type="text"/>
                                        <span class="help-block" th:if="${#fields.hasErrors('oaiSet')}" th:errors="*{oaiSet}">Set error</span>
                                    </div>
                                </div>
                            </div>

                            <!-- Europeana lucene query-->
                            <div id="europeana-conf-group">
                                <div class="form-group required" th:classappend="${#fields.hasErrors('luceneQuery')}? 'has-error'">
                                    <label class="col-md-4 control-label" for="luceneQuery" th:text="#{create.task.lucene}">Lucene query</label>
                                    <div class="col-md-4">
                                        <input id="luceneQuery" name="luceneQuery" th:field="*{luceneQuery}" th:placeholder="#{create.task.lucene.placeholder}" placeholder="query to search for" class="form-control input-md" type="text"/>
                                        <span class="help-block" th:if="${#fields.hasErrors('luceneQuery')}" th:errors="*{luceneQuery}">Lucene query error</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="searchFacet" th:text="#{create.task.search.facet }">Search facet</label>
                                    <div class="col-md-4">
                                        <input id="searchFacet" name="searchFacet" th:field="*{searchFacet}" th:placeholder="#{create.task.search.facet.placeholder}" placeholder="name of individual facet" class="form-control input-md" type="text"/>
                                    </div>
                                </div>
                            </div>

                            <!-- Historypin project slug-->
                            <div id="historypin-conf-group" class="form-group required" th:classappend="${#fields.hasErrors('projectSlug')}? 'has-error'">
                                <label class="col-md-4 control-label" for="projectSlug" th:text="#{create.task.slug}">Project slug</label>
                                <div class="col-md-4">
                                    <input id="projectSlug" name="projectSlug" th:field="*{projectSlug}" th:placeholder="#{create.task.slug.placeholder}" placeholder="path to project in Historypin" class="form-control input-md" type="text"/>
                                    <span class="help-block" th:if="${#fields.hasErrors('projectSlug')}" th:errors="*{oaiFrom}">Project slug error</span>
                                </div>
                            </div>
							
							<!--  Historypin annotation conf group -->
							<div id="historypin_ann-conf-group">
                                <div class="form-group" th:classappend="${#fields.hasErrors('oaiFrom')}? 'has-error'">
                                    <label class="col-md-4 control-label" for="dateFrom" th:text="#{create.task.oai.from}">Date from</label>
                                    <div class="col-md-4">
                                        <input id="dateFrom" name="dateFrom" th:field="*{oaiFrom}" placeholder="YYYY-MM-DDThh:mm:ssZ" class="form-control input-md" type="text"/>
                                        <span class="help-block" th:if="${#fields.hasErrors('oaiFrom')}" th:errors="*{oaiFrom}">Date from error</span>
                                    </div>
                                </div>

                                <!-- OAI-PMH date until -->
                                <div class="form-group" th:classappend="${#fields.hasErrors('oaiUntil')}? 'has-error'">
                                    <label class="col-md-4 control-label" for="dateUntil" th:text="#{create.task.oai.until}">Date until</label>
                                    <div class="col-md-4">
                                        <input id="dateUntil" name="dateUntil" th:field="*{oaiUntil}" placeholder="YYYY-MM-DDThh:mm:ssZ" class="form-control input-md" type="text"/>
                                        <span class="help-block" th:if="${#fields.hasErrors('oaiUntil')}" th:errors="*{oaiUntil}">Date until error</span>
                                    </div>
                                </div>
							</div>

                            <!-- Button -->
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="createTaskButton"></label>
                                <div class="col-md-4">
                                    <p th:inline="text" class="help-block"><em><span style="color:red;">*</span> [[#{create.task.required}]]</em></p>
                                    <button id="createTaskButton" name="createTaskButton" class="btn btn-primary" th:text="#{create.task.button}">Create task</button>
                                    <span id="successMessage" class="help-block" style="color: green" th:text="#{create.task.success}" th:unless="${param.success == null}">Success.</span>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <h1>Task list</h1>
                    <table id="taskListTable" class="table table-striped table-bordered" cellspacing="0" width="100%">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Source</th>
                            <th>Target</th>
                            <th>Last run status</th>
                            <th>Last run result</th>
                            <th>Last run ID</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tfoot>
                        <tr>
                            <th>Name</th>
                            <th>Source</th>
                            <th>Target</th>
                            <th>Last run status</th>
                            <th>Last run result</th>
                            <th>Last run ID</th>
                            <th>Actions</th>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-2.2.1.min.js" th:src="@{/webjars/jquery/2.2.1/jquery.min.js}"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" th:src="@{/webjars/bootstrap/3.3.6/js/bootstrap.min.js}"></script>
<script async="async" defer="defer" type="text/javascript" th:src="'https://maps.googleapis.com/maps/api/js?key=' + ${@environment.getProperty('google.maps.api.key')} + '&amp;libraries=visualization,places,geometry&amp;language=en&amp;callback=initMap'"></script>
<script src="../static/js/datatables.min.js" th:src="@{/static/js/datatables.min.js}"></script>
<script src="../static/js/console.js" th:src="@{/static/js/console.js}"></script>

<script th:inline="javascript">
    /* <![CDATA[ */
    var defaultDestinationOptions = $("#destination option"); // save default destination options

    var table; // datatable

    var resolveConfiguration = function () {
        var harvestingOption = $("#harvesting option:selected").val();
        var typeOption = $("#type option:selected").val();

        // restore default destination options
        $("#destination option").remove();
        $("#destination").append(defaultDestinationOptions);

        $("#historypin-target-conf-group").hide();
        $("#destination option:selected").each(function () {
            if ($(this).val() == 'HP') {
                $("#historypin-target-conf-group").show();
                try {
                    initMap();
                } catch (e) {
                    // ignore for now
                }
            }
        });

        if ("EU" == harvestingOption) {
            $("#type option[value='OAIPMH']").show();
            $("#destination option[value='MINT'], option[value='EUROPEANA'], option[value='SD']").remove();
			$("#destination option[value='EUROPEANA_ANNOTATION']").remove();

            if ("OAIPMH" == typeOption) {
                $("#oaipmh-conf-group").show();
                $("#europeana-conf-group").hide();
                $("#historypin-conf-group").hide();
            } else {
                $("#europeana-conf-group").show();
                $("#oaipmh-conf-group").hide();
                $("#historypin-conf-group").hide();
            }
            $("#historypin_ann-conf-group").hide();
        } else if ("HP" == harvestingOption){
            $("#type option[value='OAIPMH']").hide();
            $("#type").val("REST");
            $("#destination option[value='HP']").remove();
			$("#destination option[value='EUROPEANA_ANNOTATION']").remove();
			
            $("#historypin-conf-group").show();
            $("#oaipmh-conf-group").hide();
            $("#europeana-conf-group").hide();
            $("#historypin_ann-conf-group").hide();
        } else if ("HP_ANNOTATION" == harvestingOption){
            $("#type option[value='OAIPMH']").hide();
            $("#type").val("REST");
            $("#destination option[value='HP']").remove();
			$("#destination option[value='TAGAPP']").remove();
			$("#destination option[value='EUROPEANA']").remove();
			$("#destination option[value='MINT']").remove();
			$("#destination option[value='SD']").remove();
			
            $("#historypin-conf-group").hide();
            $("#oaipmh-conf-group").hide();
            $("#europeana-conf-group").hide();
            $("#historypin_ann-conf-group").show();
        }
    };

    function remapDatatables(data) {
        for (var i = 0; i < data.columns.length; i++) {
            column = data.columns[i];
            column.searchRegex = column.search.regex;
            column.searchValue = column.search.value;
            delete(column.search);
        }
    }

    function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 4,
            center: {
                lat: parseFloat(document.getElementById('circleLat').value),
                lng: parseFloat(document.getElementById('circleLng').value)
            }
        });

        var circle = new google.maps.Circle({
            map: map,
            fillColor: '#fff',
            fillOpacity: 0.5,
            strokeColor: '#b9b9b9',
            strokeOpacity: 1,
            strokeWeight: 2,
            editable: true,
            draggable: true,
            center: {
                lat: parseFloat(document.getElementById('circleLat').value),
                lng: parseFloat(document.getElementById('circleLng').value)
            },
            radius: parseInt(document.getElementById('circleRadius').value)
        });

        bindCircleToInputs(circle);

        circle.addListener('center_changed', function () {
            bindCircleToInputs(circle)
        });
        circle.addListener('radius_changed', function () {
            bindCircleToInputs(circle)
        });
    }

    function bindCircleToInputs(circle) {
        document.getElementById('circleLat').value = circle.getCenter().lat();
        document.getElementById('circleLng').value = circle.getCenter().lng();
        document.getElementById('circleRadius').value = Math.floor(circle.getRadius());
    }

    function restartTask(lastRunId) {
        var json = {'lastRunId' : lastRunId};
        $.ajax({
            'type' : 'POST',
            'url' : /*[[@{/restart.task}]]*/,
            'beforeSend' : function(xhr) {
                xhr.setRequestHeader("Accept", "application/json");
                xhr.setRequestHeader("Content-Type", "application/json");
                xhr.setRequestHeader($("meta[name='_csrf_header']").attr("content"), $("meta[name='_csrf']").attr("content"));
            },
            'data' : JSON.stringify(json),
            dataType : 'json',
            success : function(data) {
                if(table != null) {
                    table.ajax.reload(null, false);
                }
            }
        });
    }

    $(document).ready(function () {
        table = $("#taskListTable").DataTable({
            'bFilter': false,
            'ajax': {
                'url': /*[[@{/get.jobs}]]*/,
                'data': function (data) {
                    remapDatatables(data);
                }
            },
            'serverSide': true,
            'processing': true,
            'columns': [
                {'data': 'name'},
                {'data': 'source'},
                {'data': 'target'},
                {'data': 'lastRunStatus', 'orderable': false},
                {'data': 'lastRunResult', 'orderable': false},
                {'data': 'lastRunId'},
                {
                    'data': 'actions',
                    'render': function ( data, type, row, meta ) {
                        if((row != null || row != undefined) && row.lastRunId != "") {
                            return '<button onclick="restartTask(' + row.lastRunId +')" title="Restart task"><i class="fa fa-repeat" aria-hidden="true"></i></button>';
                        } else {
                            return '';
                        }
                    }
                }
            ]
        });

        resolveConfiguration();

        $("#harvesting").change(function () {
            resolveConfiguration();
        });

        $("#type").change(function () {
            resolveConfiguration();
        });

        $("#destination").change(function () {
            resolveConfiguration();
        });
    });
    /* ]]> */
</script>
</body>
</html>
