<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <meta name="viewport" content="initial-scale=1.0, user-scalable=no"/>

    <title th:text="#{create.task.title}">Create task - Orchestrator</title>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css}" rel="stylesheet"/>

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"
          th:href="@{/webjars/font-awesome/4.5.0/css/font-awesome.min.css}" rel="stylesheet"/>

    <link href="../static/css/console.css" th:href="@{/static/css/console.css}" rel="stylesheet"/>

    <meta name="_csrf" th:content="${_csrf.token}" />
    <meta name="_csrf_header" th:content="${_csrf.headerName}" />
</head>
<body>
<div id="wrapper">
    <!-- Navigation -->
    <nav th:replace="fragments/navigation::navigation"></nav>

    <!-- Page Content -->
    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header" th:text="#{nav.create.task}">Create task</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <form class="form-horizontal" action="#" th:action="@{/}" th:object="${taskForm}" method="post" accept-charset="UTF-8">
                        <fieldset>
                            <div th:if="*{jobId}">
                                <div class="alert alert-warning" role="alert">
                                    Warning! You are editing existing item with ID: <span th:text="*{jobId}"></span>
                                </div>
                                <input name="jobId" th:field="*{jobId}" type="hidden"/>
                            </div>

                            <!-- Flow -->
                            <div class="form-group" th:classappend="${#fields.hasErrors('flow')}? 'has-error'">
                                <label class="col-md-4 control-label" for="flow" th:text="#{create.task.flow}">Flow</label>
                                <div class="col-md-4">
                                    <select id="flow" required="required" name="flow" class="form-control" data-toggle="tooltip" th:title="#{create.task.flow.tooltip}" th:field="*{flow}">
                                        <option th:each="fl : ${T(sk.eea.td.console.model.Flow).values()}" th:value="${fl}" th:text="#{${'create.task.' + fl}}" th:title="#{${'create.task.title.' + fl}}"></option>
                                    </select>
                                    <span class="help-block" th:if="${#fields.hasErrors('flow')}" th:errors="*{flow}">Flow error</span>
                                </div>
                            </div>

                            <!-- Name -->
                            <div class="form-group required" th:classappend="${#fields.hasErrors('name')}? 'has-error'">
                                <label class="col-md-4 control-label" for="name" th:text="#{create.task.name}">Name</label>
                                <div class="col-md-4">
                                    <input id="name" name="name" th:field="*{name}" th:placeholder="#{create.task.name.placeholder}" placeholder="name of the task" class="form-control input-md" type="text" data-toggle="tooltip" th:title="#{create.task.name.tooltip}"/>
                                    <span class="help-block" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name error</span>
                                </div>
                            </div>

                            <!-- Flow 1 configuration -->
                            <div id="flow-1-conf-group">
                                <!-- HP user ID -->
                                <div class="form-group required" th:classappend="${#fields.hasErrors('historypinUserId')}? 'has-error'">
                                    <label class="col-md-4 control-label" for="historypinUserId" th:text="#{create.task.historypinUserId}">Historypin User ID</label>
                                    <div class="col-md-4">
                                        <input id="historypinUserId" name="historypinUserId" th:field="*{historypinUserId}" th:placeholder="#{create.task.historypinUserId.placeholder}" placeholder="ID of user, on which behalf the collection is managed" class="form-control input-md" type="text"/>
                                        <span class="help-block" th:if="${#fields.hasErrors('historypinUserId')}" th:errors="*{historypinUserId}">historypinUserId error</span>
                                    </div>
                                </div>
                                <!-- HP API key -->
                                <div class="form-group required" th:classappend="${#fields.hasErrors('historypinApiKey')}? 'has-error'">
                                    <label class="col-md-4 control-label" for="name" th:text="#{create.task.historypinApiKey}">Historypin API key</label>
                                    <div class="col-md-4">
                                        <input id="historypinApiKey" name="historypinApiKey" th:field="*{historypinApiKey}" th:placeholder="#{create.task.historypinApiKey.placeholder}" placeholder="API key of user, on which behalf the collection is managed" class="form-control input-md"
                                               type="text"/>
                                        <span class="help-block" th:if="${#fields.hasErrors('historypinApiKey')}" th:errors="*{historypinApiKey}">historypinApiKey error</span>
                                    </div>
                                </div>
                                <!-- HP API secret -->
                                <div class="form-group required" th:classappend="${#fields.hasErrors('historypinApiSecret')}? 'has-error'">
                                    <label class="col-md-4 control-label" for="name" th:text="#{create.task.historypinApiSecret}">Historypin API secret</label>
                                    <div class="col-md-4">
                                        <input id="historypinApiSecret" name="historypinApiSecret" th:field="*{historypinApiSecret}" th:placeholder="#{create.task.historypinApiSecret.placeholder}" placeholder="API secret of user, on which behalf the collection is managed"
                                               class="form-control input-md" type="text"/>
                                        <span class="help-block" th:if="${#fields.hasErrors('historypinApiSecret')}" th:errors="*{historypinApiSecret}">historypinApiSecret error</span>
                                    </div>
                                </div>
                                <!-- HP collection name -->
                                <div class="form-group required" th:classappend="${#fields.hasErrors('collectionName')}? 'has-error'">
                                    <label class="col-md-4 control-label" for="name" th:text="#{create.task.collectionName}">Collection name</label>
                                    <div class="col-md-4">
                                        <input id="collectionName" name="collectionName" th:field="*{collectionName}" th:placeholder="#{create.task.collectionName.placeholder}" placeholder="name of the target collection in Historypin" class="form-control input-md" type="text"/>
                                        <span class="help-block" th:if="${#fields.hasErrors('collectionName')}" th:errors="*{collectionName}">Collection name error</span>
                                    </div>
                                </div>
                                <!-- default coordinates (lat, lng, range) -->
                                <div class="form-group" th:classappend="${#fields.hasErrors('collectionLat')}? 'has-error'">
                                    <label class="col-md-4 control-label" for="map" th:text="#{create.task.collectionLocation}">Collection location</label>
                                    <div id="map" class="col-md-4" data-toggle="tooltip" title="this is map"></div>
                                    <input type="hidden" th:field="*{collectionLat}" name="circleLat" id="circleLat"/>
                                    <input type="hidden" th:field="*{collectionLng}" name="circleLng" id="circleLng"/>
                                    <input type="hidden" th:field="*{collectionRadius}" name="circleRadius" id="circleRadius"/>
                                </div>
                                <!-- default collection date -->
                                <div class="form-group required" th:classappend="${#fields.hasErrors('collectionDate')}? 'has-error'">
                                    <label class="col-md-4 control-label" for="name" th:text="#{create.task.collectionDate}">Collection date</label>
                                    <div class="col-md-4">
                                        <input id="collectionDate" name="collectionDate" th:field="*{collectionDate}" th:placeholder="#{create.task.collectionDate.placeholder}" placeholder="default date for pins" data-toggle="tooltip" th:title="#{create.task.collectionDate.tooltip}"
                                               class="form-control input-md" type="text"/>
                                        <span class="help-block" th:if="${#fields.hasErrors('collectionDate')}" th:errors="*{collectionDate}">Collection date error</span>
                                    </div>
                                </div>
                                <!-- default tags in HP -->
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="collectionTags" th:text="#{create.task.collectionTags}">Collection tags</label>
                                    <div class="col-md-4">
                                        <input id="collectionTags" name="collectionTags" th:field="*{collectionTags}" th:placeholder="#{create.task.collectionTags.placeholder}" placeholder="default tags, added to all pins" data-toggle="tooltip" th:title="#{create.task.collectionTags.tooltip}"
                                               class="form-control input-md" type="text"/>
                                    </div>
                                </div>
                                <!-- lucene query -->
                                <div class="form-group required" th:classappend="${#fields.hasErrors('luceneQuery')}? 'has-error'">
                                    <label class="col-md-4 control-label" for="luceneQuery" th:text="#{create.task.lucene}">Lucene query</label>
                                    <div class="col-md-4">
                                        <input id="luceneQuery" name="luceneQuery" th:field="*{luceneQuery}" th:placeholder="#{create.task.lucene.placeholder}" placeholder="query to search for" class="form-control input-md" type="text"/>
                                        <span class="help-block" th:if="${#fields.hasErrors('luceneQuery')}" th:errors="*{luceneQuery}">Lucene query error</span>
                                    </div>
                                </div>
                                <!-- search facet -->
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="searchFacet" th:text="#{create.task.search.facet }">Search facet</label>
                                    <div class="col-md-4">
                                        <input id="searchFacet" name="searchFacet" th:field="*{searchFacet}" th:placeholder="#{create.task.search.facet.placeholder}" placeholder="name of individual facet" class="form-control input-md" type="text"/>
                                    </div>
                                </div>
                            </div>

                            <!-- Flow 2 and 5 configuration (project slug)-->
                            <div id="flow-2-and-5-conf-group" class="form-group required" th:classappend="${#fields.hasErrors('projectSlug')}? 'has-error'">
                                <label class="col-md-4 control-label" for="projectSlug" th:text="#{create.task.slug}">Project slug</label>
                                <div class="col-md-4">
                                    <input id="projectSlug" name="projectSlug" th:field="*{projectSlug}" th:placeholder="#{create.task.slug.placeholder}" placeholder="path to project in Historypin" class="form-control input-md" type="text"/>
                                    <span class="help-block" th:if="${#fields.hasErrors('projectSlug')}" th:errors="*{oaiFrom}">Project slug error</span>
                                </div>
                            </div>
							
							<!--  Flow 4 conf group -->
							<div id="flow-4-conf-group">
                                <!-- date from-->
                                <div class="form-group" th:classappend="${#fields.hasErrors('dateFrom')}? 'has-error'">
                                    <label class="col-md-4 control-label" for="dateFrom" th:text="#{create.task.hp_annotation.from}">Date from</label>
                                    <div class="col-md-4">
                                        <input id="dateFrom" name="dateFrom" th:field="*{dateFrom}" placeholder="YYYY-MM-DDThh:mm:ssZ" class="form-control input-md" type="text"/>
                                        <span class="help-block" th:if="${#fields.hasErrors('dateFrom')}" th:errors="*{dateFrom}">Date from error</span>
                                    </div>
                                </div>
                                <!-- date until-->
                                <div class="form-group" th:classappend="${#fields.hasErrors('dateUntil')}? 'has-error'">
                                    <label class="col-md-4 control-label" for="dateUntil" th:text="#{create.task.hp_annotation.until}">Date until</label>
                                    <div class="col-md-4">
                                        <input id="dateUntil" name="dateUntil" th:field="*{dateUntil}" placeholder="YYYY-MM-DDThh:mm:ssZ" class="form-control input-md" type="text"/>
                                        <span class="help-block" th:if="${#fields.hasErrors('dateUntil')}" th:errors="*{dateUntil}">Date until error</span>
                                    </div>
                                </div>
							</div>
							
							<!--  Flow 6 conf group -->
							<div id="flow-6-conf-group">
                                <!-- lucene query -->
                                <div class="form-group required" th:classappend="${#fields.hasErrors('luceneQuery')}? 'has-error'">
                                    <label class="col-md-4 control-label" for="luceneQuery" th:text="#{create.task.lucene}">Lucene query</label>
                                    <div class="col-md-4">
                                        <input id="luceneQuery" name="luceneQuery" th:field="*{luceneQuery}" th:placeholder="#{create.task.lucene.placeholder}" placeholder="query to search for" class="form-control input-md" type="text"/>
                                        <span class="help-block" th:if="${#fields.hasErrors('luceneQuery')}" th:errors="*{luceneQuery}">Lucene query error</span>
                                    </div>
                                </div>
                                <!-- search facet -->
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="searchFacet" th:text="#{create.task.search.facet }">Search facet</label>
                                    <div class="col-md-4">
                                        <input id="searchFacet" name="searchFacet" th:field="*{searchFacet}" th:placeholder="#{create.task.search.facet.placeholder}" placeholder="name of individual facet" class="form-control input-md" type="text"/>
                                    </div>
                                </div>                              
							</div>
							
                            <!-- Button -->
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="createTaskButton"  th:if="*{jobId} == null"></label>
                                <div class="col-md-4" th:if="*{jobId} == null">
                                    <p th:inline="text" class="help-block"><em><span style="color:red;">*</span> [[#{create.task.required}]]</em></p>
                                    <button id="createTaskButton" name="createTaskButton" class="btn btn-primary" th:text="#{create.task.button}">Create task</button>
                                    <span id="successCreateMessage" class="help-block" style="color: green" th:text="#{create.task.create.success}" th:unless="${param.create_succes == null}">Success.</span>
                                </div>

                                <label class="col-md-4 control-label" for="saveChangesButton"  th:if="*{jobId} != null"></label>
                                <div class="col-md-4" th:if="*{jobId} != null">
                                    <p th:inline="text" class="help-block"><em><span style="color:red;">*</span> [[#{create.task.required}]]</em></p>
                                    <button id="saveChangesButton" name="saveChangesButton" class="btn btn-primary success" th:text="#{save.task.button}">Save changes</button>
                                    <span id="successSaveMessage" class="help-block" style="color: green" th:text="#{create.task.save.success}" th:unless="${param.save_success == null}">Success.</span>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-2.2.1.min.js" th:src="@{/webjars/jquery/2.2.1/jquery.min.js}"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" th:src="@{/webjars/bootstrap/3.3.6/js/bootstrap.min.js}"></script>
<script async="async" defer="defer" type="text/javascript" th:src="'https://maps.googleapis.com/maps/api/js?key=' + ${@environment.getProperty('google.maps.api.key')} + '&amp;libraries=visualization,places,geometry&amp;language=en&amp;callback=initMap'"></script>
<script src="../static/js/datatables.min.js" th:src="@{/static/js/datatables.min.js}"></script>
<script src="../static/js/console.js" th:src="@{/static/js/console.js}"></script>

<script th:inline="javascript">
    /* <![CDATA[ */
    var configurationGroups = ["#flow-1-conf-group", "#flow-2-and-5-conf-group", "#flow-4-conf-group", "#flow-6-conf-group"];
    var configurationMap = {};
    configurationMap["FLOW_1"] = configurationGroups[0];
    configurationMap["FLOW_2"] = configurationGroups[1];
    configurationMap["FLOW_4"] = configurationGroups[2];
    configurationMap["FLOW_5"] = configurationGroups[1];
    configurationMap["FLOW_6"] = configurationGroups[3];

    function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 4,
            center: {
                lat: parseFloat(document.getElementById('circleLat').value),
                lng: parseFloat(document.getElementById('circleLng').value)
            }
        });

        var circle = new google.maps.Circle({
            map: map,
            fillColor: '#fff',
            fillOpacity: 0.5,
            strokeColor: '#b9b9b9',
            strokeOpacity: 1,
            strokeWeight: 2,
            editable: true,
            draggable: true,
            center: {
                lat: parseFloat(document.getElementById('circleLat').value),
                lng: parseFloat(document.getElementById('circleLng').value)
            },
            radius: parseInt(document.getElementById('circleRadius').value)
        });

        bindCircleToInputs(circle);

        circle.addListener('center_changed', function () {
            bindCircleToInputs(circle)
        });
        circle.addListener('radius_changed', function () {
            bindCircleToInputs(circle)
        });
    }

    function bindCircleToInputs(circle) {
        document.getElementById('circleLat').value = circle.getCenter().lat();
        document.getElementById('circleLng').value = circle.getCenter().lng();
        document.getElementById('circleRadius').value = Math.floor(circle.getRadius());
    }


    $(document).ready(function () {
        $("select").change(function () {
            configurationGroups.forEach(function(entry) {
                $(entry).hide();
            });
            var selectedFlow = $("select option:selected").val();
            $(configurationMap[selectedFlow]).show();
        }).change();
    });
    /* ]]> */
</script>
</body>
</html>
