<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title th:text="#{logs.title}">Logs -Orcherstrator</title>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css}" rel="stylesheet"/>

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"
          th:href="@{/webjars/font-awesome/4.5.0/css/font-awesome.min.css}" rel="stylesheet"/>

    <link href="../static/css/datatables.min.css" th:href="@{/static/css/datatables.min.css}" rel="stylesheet"/>

    <link href="../static/css/console.css" th:href="@{/static/css/console.css}" rel="stylesheet"/>
</head>
<body>
<div id="wrapper">
    <!-- Navigation -->
    <nav th:replace="fragments/navigation::navigation"></nav>

    <!-- Page Content -->
    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header" th:text="#{nav.logs}">Blank page</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <table id="logListTable" class="table table-striped table-bordered" cellspacing="0" width="100%">
                        <thead>
                        <tr>
                            <th>Timestamp</th>
                            <th>Task run #</th>
                            <th>Level</th>
                            <th style="width: 800px;">Message</th>
                        </tr>
                        </thead>
                        <tfoot>
                        <tr>
                            <th>Timestamp</th>
                            <th>Task run #</th>
                            <th>Level</th>
                            <th style="width: 800px;">Message</th>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-2.2.1.min.js" th:src="@{/webjars/jquery/2.2.1/jquery.min.js}"></script>
<script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js" th:src="@{/webjars/jquery-ui/1.11.4/jquery-ui.min.js}"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" th:src="@{/webjars/bootstrap/3.3.6/js/bootstrap.min.js}"></script>
<script src="../static/js/datatables.min.js" th:src="@{/static/js/datatables.min.js}"></script>
<script src="../static/js/console.js" th:src="@{/static/js/console.js}"></script>
<script src="../static/js/showmore.js" th:src="@{/static/js/showmore.js}"></script>

<script>
    // <![CDATA[
    function remapDatatables(data) {
        for (var i = 0; i < data.columns.length; i++) {
            column = data.columns[i];
            column.searchRegex = column.search.regex;
            column.searchValue = column.search.value;
            delete(column.search);
        }
    }

    $("#logListTable").on("click", ".show-more a", function () {
        var $this = $(this);
        var $content = $this.parent().prev("div.content");
        var linkText = $this.text().toUpperCase();

        if (linkText === "SHOW MORE") {
            linkText = "Show less";
            $content.switchClass("hideContent", "showContent", 400);
        } else {
            linkText = "Show more";
            $content.switchClass("showContent", "hideContent", 400);
        }

        $this.text(linkText);
    });

    $(document).ready(function () {
        $("#logListTable").DataTable({
            'ajax': {
                'url': '/logs/get.logs',
                'data': function (data) {
                    remapDatatables(data);
                }
            },
            'language': {
                search: "Search by task run #:"
            },
            'serverSide': true,
            'processing': true,
            'columns': [
                {'data': 'timestamp'},
                {'data': 'jobRunId'},
                {'data': 'level'},
                {
                    'data': 'message',
                    'orderable': false,
                    'render': $.fn.dataTable.render.showmore(30)
                }
            ]
        });
    });
    // ]]>
</script>
</body>
</html>
