<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title th:text="#{review.title}">Review - Orchestrator</title>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css}" rel="stylesheet"/>

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"
          th:href="@{/webjars/font-awesome/4.5.0/css/font-awesome.min.css}" rel="stylesheet"/>

    <link href="../static/css/bootstrap-tagsinput.css" th:href="@{/static/css/bootstrap-tagsinput.css}"
          rel="stylesheet"/>

    <link href="../static/css/datatables.min.css" th:href="@{/static/css/datatables.min.css}" rel="stylesheet"/>

    <link href="../static/css/console.css" th:href="@{/static/css/console.css}" rel="stylesheet"/>
</head>
<body>
<div id="wrapper">
    <!-- Navigation -->
    <nav th:fragment="navigation" class="navbar navbar-default navbar-static-top" role="navigation"
         style="margin-bottom: 0">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#" th:text="#{nav.brand}">Orchestrator Administration Console</a>
        </div>

        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse">
                <ul class="nav" id="side-menu">
                </ul>
            </div>
        </div>
    </nav>

    <!-- Page Content -->
    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header" th:text="#{review.heading}">Review items</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <table id="reviewTable" class="table table-striped table-bordered" cellspacing="0" width="100%">
                        <thead>
                        <tr>
                            <th th:text="#{review.caption}">Name</th>
                            <th th:text="#{review.desc}">Description</th>
                            <th th:text="#{review.link}">Link to</th>
                            <th th:text="#{review.tags}">Tags</th>
                            <th th:text="#{review.places}">Places</th>
                            <th th:text="#{review.approved}">Approved</th>
                        </tr>
                        </thead>
                        <tbody data-bind="foreach: reviews()">
                        <tr>
                            <td><span data-bind="text: $data.caption"></span></td>
                            <td><span data-bind="text: $data.description"></span></td>
                            <td><a data-bind="attr: { href: $data.url }" target="_blank">link</a></td>
                            <td><input data-bind="tagsinput: $data.approvedTags"/></td>
                            <td><input data-bind="tagsinput: $data.approvedPlaces"/></td>
                            <td><input type="checkbox" data-bind="checked: $data.approved"/></td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <th th:text="#{review.caption}">Name</th>
                            <th th:text="#{review.desc}">Description</th>
                            <th th:text="#{review.link}">Link to</th>
                            <th th:text="#{review.tags}">Tags</th>
                            <th th:text="#{review.places}">Places</th>
                            <th th:text="#{review.approved}">Approved</th>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
            <div class="row">
                <div id="response" class="col-lg-12">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="btn-group pull-right" role="group">
                        <button id="save" type="button" class="btn btn-default">Save</button>
                        <button id="send-approved" type="button" class="btn btn-default">Send approved</button>
                        <button id="finish" type="button" class="btn btn-default">Finish</button>
                    </div>
                </div>
            </div>
            <div class="row spacer">
            </div>
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-2.2.1.min.js" th:src="@{/webjars/jquery/2.2.1/jquery.min.js}"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
        th:src="@{/webjars/bootstrap/3.3.6/js/bootstrap.min.js}"></script>
<script src="../static/js/console.js" th:src="@{/static/js/console.js}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.4.0/knockout-min.js"
        th:src="@{/webjars/knockout/3.4.0/knockout.js}"></script>
<script src="../static/js/knockout-mapping.js" th:src="@{/static/js/knockout-mapping.js}"></script>
<script src="../static/js/datatables.min.js" th:src="@{/static/js/datatables.min.js}"></script>
<script src="../static/js/datatables.processing.plugin.js"
        th:src="@{/static/js/datatables.processing.plugin.js}"></script>
<script src="../static/js/bootstrap-tagsinput.min.js" th:src="@{/static/js/bootstrap-tagsinput.min.js}"></script>
<script th:inline="javascript">
    /* <![CDATA[*/
    var bindingApplied;
    var dataTable;

    ko.bindingHandlers.tagsinput = {
        init: function (element, valueAccessor, allBindings) {
            var options = allBindings().tagsinputOptions || {};
            var value = valueAccessor();
            var valueUnwrapped = ko.unwrap(value);

            var el = $(element);
            el.tagsinput(options);

            for (var i = 0; i < valueUnwrapped.length; i++) {
                el.tagsinput('add', valueUnwrapped[i]);
            }

            el.on('itemAdded', function (event) {
                if (valueUnwrapped.indexOf(event.item) === -1) {
                    value.push(event.item);
                }
            });

            el.on('itemRemoved', function (event) {
                value.remove(event.item);
            });
        },
        update: function (element, valueAccessor, allBindings, viewModel, bindingContext) {
            var value = valueAccessor();
            var valueUnwrapped = ko.unwrap(value);

            var el = $(element);
            var prev = el.tagsinput('items');

            var added = valueUnwrapped.filter(function (i) {
                return prev.indexOf(i) === -1;
            });
            var removed = prev.filter(function (i) {
                return valueUnwrapped.indexOf(i) === -1;
            });

            // remove tags no longer in bound model
            for (var i = 0; i < removed.length; i++) {
                el.tagsinput('remove', removed[i]);
            }

            // refresh remaining tags
            el.tagsinput('refresh');

            // add new items in model as tags
            for (i = 0; i < added.length; i++) {
                el.tagsinput('add', added[i]);
            }
        }
    };

    // knockout view model
    function ViewModel(data) {
        var self = this;
        // knockout mapping JSON data to view model
        ko.mapping.fromJS(data, {}, self);
    }

    $(document).ready(function () {
        $.getJSON([[@{/review/get.items}]], function (data) {
            viewModel = new ViewModel(data);
            ko.applyBindings(viewModel);
            // initialize Datatables
            dataTable = $("#reviewTable").DataTable({
                'searching': false,
                'ordering': false,
                oLanguage: {
                    sProcessing: '<i class="fa fa-spinner fa-spin" style="font-size:42px"></i> Processing, please wait'
                },
                'processing': true
            });
        });

        $(document).ajaxStart(function () {
            dataTable.processing(true);
        });
        $(document).ajaxComplete(function () {
            dataTable.processing(false);
        });

        // SAVE action
        $('#save').click(function () {
            var unmappedModel = ko.mapping.toJS(viewModel.reviews());

            $.ajax({
                type: "POST",
                url: [[@{/review/save.items}]],
                data: JSON.stringify(unmappedModel),
                contentType: 'application/json',
                success: function (data) {
                    if (data.status == 'OK') {
                        location.reload();
//                    $("#response").html(
//                            '<div class="alert alert-success text-center"> \
//                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a> \
//                            <strong>Successfully</strong> saved review items. \
//                        </div>');
//
//                    window.setTimeout(function () {
//                        $(".alert").fadeTo(500, 0).slideUp(500, function () {
//                            $(this).remove();
//                        });
//                    }, 5000);
                    } else {
                        $("#response").html(
                                '<div class="alert alert-danger alert-dismissible" role="alert"><button type="button" class="close" data-dismiss="alert"></button>' + data.errorMessages + '</div>'
                        );
                    }
                }
            });
        });

        // SEND action
        $('#send-approved').click(function () {
            var unmappedModel = ko.mapping.toJS(viewModel.reviews());

            $.ajax({
                type: "POST",
                url: [[@{/review/send.items}]],
                data: JSON.stringify(unmappedModel),
                contentType: 'application/json',
                success: function (data) {
                    if (data.status == 'OK') {
                        location.reload();
                    } else {
                        $("#response").html(
                                '<div class="alert alert-danger alert-dismissible" role="alert"><button type="button" class="close" data-dismiss="alert"></button>' + data.errorMessages + '</div>'
                        );
                    }
                }
            });
        });

        // FINISH action
        $('#finish').click(function () {
            var unmappedModel = ko.mapping.toJS(viewModel.reviews());
            $.ajax({
                type: "POST",
                url: [[@{/review/finish.items}]],
            data: JSON.stringify(unmappedModel),
                    contentType: 'application/json',
                    success: function (data) {
                if (data.status == 'OK') {
                    location.reload();
                } else {
                    $("#response").html(
                            '<div class="alert alert-danger alert-dismissible" role="alert"><button type="button" class="close" data-dismiss="alert"></button>' + data.errorMessages + '</div>'
                    );
                }
            }
        });
        });
    });
    /* ]]> */
</script>
</body>
</html>
