<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <logger name="sk.eea.td" level="DEBUG"/>

    <!-- Uncomment to see queries and values in logs. Dont forget to change default.properties -->
    <!--<logger name="org.hibernate.SQL" level="DEBUG" additivity="false" >-->
    <!--<appender-ref ref="STDOUT"/>-->
    <!--<appender-ref ref="FILE"/>-->
    <!--</logger>-->


    <!--<logger name="org.hibernate.type" level="TRACE" additivity="false" >-->
    <!--<appender-ref ref="STDOUT"/>-->
    <!--<appender-ref ref="FILE"/>-->
    <!--</logger>-->
</configuration>
